<br>
<div class="appointment-class">
    <div class="row">
        <h2 class="col">Your Appointments</h2>
      <p class="col filter-wrapper"><i class="fa fa-filter" aria-hidden="true"></i>Filter</p>  
    </div>
  
    <br>
    <div class="shadow p-3 mb-5 bg-white rounded card">
        <div class="card-body">
            <div class="row">
                <h5 class="col  card-title">Eye Pressure</h5>
                <p class="col id-class">ID: #HG1322</p>
            </div>
            <div class="row">
                <div  class="col date-wrapper"><p><i class="far fa-calendar"></i> Date </p><p>15/05/2020</p></div>
                <div class="col date-wrapper">  <p ><i class="fas fa-clock"></i> Time </p><p>00:09 AM</p></div>
               <div class="col doctor-wrapper"> <p ><i class="fas fa-stethoscope"></i> Doctor </p><p>Dr. David Antony</p></div>
               <div class="col right-wrapper"> <p > View Files <i class="fas fa-arrow-right"></i> </p></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-outline-primary">Edit Appointment</button></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-primary">Join Meeting  <i class="fas fa-arrow-right"></i></button></div>
            </div>
        </div>
    </div>
    
    <div class="shadow p-3 mb-5 bg-white rounded card">
        <div class="card-body">
            <div class="row">
                <h5 class="col  card-title">Eye Pressure</h5>
                <p class="col id-class">ID: #HG1322</p>
            </div>
            <div class="row">
                <div  class="col date-wrapper"><p><i class="far fa-calendar"></i> Date </p><p>15/05/2020</p></div>
                <div class="col date-wrapper">  <p ><i class="fas fa-clock"></i> Time </p><p>00:09 AM</p></div>
               <div class="col doctor-wrapper"> <p ><i class="fas fa-stethoscope"></i> Doctor </p><p>Dr. David Antony</p></div>
               <div class="col right-wrapper"> <p > View Files <i class="fas fa-arrow-right"></i> </p></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-outline-primary">Edit Appointment</button></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-primary">Join Meeting  <i class="fas fa-arrow-right"></i></button></div>
            </div>
        </div>
    </div>
    
    <div class="shadow p-3 mb-5 bg-white rounded card">
        <div class="card-body">
            <div class="row">
                <h5 class="col  card-title">Eye Pressure</h5>
                <p class="col id-class">ID: #HG1322</p>
            </div>
            <div class="row">
                <div  class="col date-wrapper"><p><i class="far fa-calendar"></i> Date </p><p>15/05/2020</p></div>
                <div class="col date-wrapper">  <p ><i class="fas fa-clock"></i> Time </p><p>00:09 AM</p></div>
               <div class="col doctor-wrapper"> <p ><i class="fas fa-stethoscope"></i> Doctor </p><p>Dr. David Antony</p></div>
               <div class="col right-wrapper"> <p > View Files <i class="fas fa-arrow-right"></i> </p></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-outline-primary">Edit Appointment</button></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-primary">Join Meeting  <i class="fas fa-arrow-right"></i></button></div>
            </div>
        </div>
    </div>
    
    <div class="shadow p-3 mb-5 bg-white rounded card">
        <div class="card-body">
            <div class="row">
                <h5 class="col  card-title">Eye Pressure</h5>
                <p class="col id-class">ID: #HG1322</p>
            </div>
            <div class="row">
                <div  class="col date-wrapper"><p><i class="far fa-calendar"></i> Date </p><p>15/05/2020</p></div>
                <div class="col date-wrapper">  <p ><i class="fas fa-clock"></i> Time </p><p>00:09 AM</p></div>
               <div class="col doctor-wrapper"> <p ><i class="fas fa-stethoscope"></i> Doctor </p><p>Dr. David Antony</p></div>
               <div class="col right-wrapper"> <p > View Files <i class="fas fa-arrow-right"></i> </p></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-outline-primary">Edit Appointment</button></div>
               <div class="col right-button-wrapper"> <button type="button" class="btn btn-primary">Join Meeting  <i class="fas fa-arrow-right"></i></button></div>
            </div>
        </div>
    </div>