// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
$border-radius: 0.3rem;
$accent: #07805e;
.btn ,.notification{
    height: 28px;
    font-size: 0.5rem;
    
}
.btn
{
    padding: 0rem 0.75rem !important;
}