<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/logo.png" class="d-inline-block align-top" alt="">
          
          </a>
      <a class="navbar-brand" href="#"><i class="fas fa-bell"></i>     Notifications <button type="button" class="btn btn-primary notification">08</button>
      &nbsp;  &nbsp;  &nbsp;  <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Brand -->
    <a class="col" href="#">
      <img src="../../../assets/logo.png" class="d-inline-block align-top" alt="">
    
    </a>
    <a class="col-sm-5 menu navbar-brand notification-wrapper" href="#"><i class="fas fa-bell"></i>     Notifications <button type="button" class="btn btn-primary notification">08</button>
      </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse menu-wrapper" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="line"></div>
