$base-theme:Bootstrap;
$skin-name:_telemedTheme;
$swatch-name:Bootstrap;
$border-radius: 0.3rem;
$accent: #07805e;
$secondary: #ffffff;
$info: #17a2b8;
$success: #149b4c;
$warning: #ffc107;
$error: #d42939;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #ebebf0;
$card-cap-color: #292b2c;
$light: #F4F4F4;
$container-max-widths: (
  xl: 100%
);
$navbar-light-brand-color: #1E7661;
// $series-a: #0275d8;
// $series-b: #5bc0de;
// $series-c: #5cb85c;
// $series-d: #f0ad4e;
// $series-e: #e67d4a;
// $series-f: #d9534f;